.header
  .top
    .main
      .main__item
        .main__item__title
        = link_to messages_index_path,target: "_self" do
          = image_tag 'logo.jpg',:width => '150', :height => '100'
        .main__item__search
          検索バー
      .main__block
        .main__block__test
          暗記テスト
        .main__block__card
          カードを作る
        .main__block__account
          アカウント