.wrapper
  = render "top_bar"
  .message
    .contents
      .content
        .words
          .words__word
            .words__word__account
              アカウント
            .words__word__tag
              ＃rails
        .meaning
          .meaning__mean
            .meaning__mean__text
              意味
            .meaning__mean__img
              画像
          
  = render "bottom_bar"
