.contents
  .content
    .word
      word
      .word__account
        アカウント
    .meaning
      .meaning__mean
        .meaning__mean__text
          意味
        .meaning__mean__url
          https://master.tech-camp.in
        .meaning__mean__img
          画像
      .meaning__block
        .meaning__block__evaluation
          いいね
        .meaning__block__number
          ３